<%
base_url = 'https://github.com/pachacamac/jing'

title = meta[:title] || 'Jing - A tiny static site generator packing a punch'
description = meta[:description] || title
keywords = meta[:keywords] || 'jing, tiny code, static site generator'

ogsitename = meta[:ogsitename] || 'JING'
ogtitle = meta[:ogtitle] || title
ogdescription = meta[:ogdescription] || description
ogurl = meta[:ogurl] || base_url
ogimage = meta[:ogimage] || "#{base_url}/images/logo.png"
%>
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= title %></title>
  <meta name="description" content="<%= description %>" />
  <meta name="keywords" content="<%= keywords %>" />

  <meta property="og:title" content="<%= ogtitle %>"/>
  <meta property="og:image" content="<%= ogimage %>"/>
  <meta property="og:url" content="<%= ogurl %>"/>
  <meta property="og:site_name" content="<%= ogsitename %>"/>
  <meta property="og:description" content="<%= ogdescription %>"/>
  <meta name="twitter:title" content="<%= ogtitle %>" />
  <meta name="twitter:image" content="<%=ogimage %>" />
  <meta name="twitter:url" content="<%= ogurl %>" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
  <link href="/app.css" rel="stylesheet" type="text/css" />

  <!--[if lt IE 9]>
  <script src="js/respond.min.js"></script>
  <![endif]-->

  </head>
  <body>

    <header role="banner">
      <div>
        <a href="/index.html">
          <img src="/images/logo.png" height=120 width=120 alt="logo">
        </a>
      </div>
      <div>
        <%= render('nav') %>
      </div>
    </header>

    <%= body %>

    <footer role="contentinfo">
      <div class="copyright"><small>&copy; <%= Time.now.year %>. All Rights Reserved.</small></div>
    </footer>

    <script src="/app.js"></script>
  </body>
</html>

